{% extends "master.html" %}

{% block content %}
{% load static %}
<section id="content">
      <div class="container_12">
        <article class="a2">
          <div class="wrapper">
            <div class="col-9">
              <h1>Add New Diving Record</h1>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add Record</button>
              </form>
            </div>
          </div>
        </article>
      </div>
    </section>

{% endblock %}