{% extends "master.html" %}

{% block content %}
    <div>
        <h1>Profile</h1>
        <br>
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>

        <h1>Diving Records</h1>
        <ul>
        {% for DivingRecords_filter in pbsf %}
            <li>
                <h2>{{ DivingRecords_filter.user.username }} - {{ DivingRecords_filter.depth }}m {{DivingRecords_filter.discipline}} at {{DivingRecords_filter.location}} on {{DivingRecords.date}}</h2>
            </li>
          {% endfor %}

        </ul>
    </div>
{% endblock content %}