{% extends "master.html" %}

{% block content %}
   {% load static %}
<section id="content">
      <div class="container_12">
        <article class="a2">
          <div class="wrapper">
            <div class="col-9">
                <div>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h1>Profile</h1>

                        {% if user.is_authenticated %}
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        {% endif %}
                    </div>
                    <br>
                    <h4>{{ user.username }}</h4>
                    <p>{{ user.email }}</p>

                    <h3>Diving Records</h3>
                    <ul>
                    {% for DivingRecords_filter in pbsf %}
                        <li>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h5>{{ DivingRecords_filter.user.username }} - {{ DivingRecords_filter.depth }}m {{DivingRecords_filter.discipline}} at {{DivingRecords_filter.location}} on {{DivingRecords_filter.date}}</h5>
                                <a href="{% url 'edit_diving_record' record_id=DivingRecords_filter.id %}">Edit</a>
                            </div>
                        </li>
                      {% endfor %}

                    </ul>


                </div>

              </div>
          </div>
        </article>
      </div>
    </section>
{% endblock content %}