{% extends "master.html" %}

{% block title %}
  About
{% endblock %}

{% load static %}

{% block content %}
    <!-- Content -->
    {% load static %}
    <section id="content">
      <div class="container_12">
        <article class="a1">
          <div class="wrapper">
            <figure class="img-box img-indent-1"> <img src="{% static 'images/page2-img1.jpg' %}" alt=""> </figure>
            <div class="extra-wrap">
              <h3> About me and my the best buddy </h3>
              <p class="p2"> My name is Honza Borsky and I started with freediving in 2018. During Covid-19 pandemy, there was no possibility to me for trainnning. But from 2022 I try my best for improvements with my freedive skills. </p>
              <p class="p1"> My best buddy is my son - also Honza. I took him for freediving in 2022 and he catch it right. We enjoy our underwatter sessions.</p>
            </div>
          </div>
        </article>
          {% load static %}
        <article class="content-box">
          <div class="wrapper">
            <div class="col-3 relative">
              <h3 class="hp-1">Freedive wisdom</h3>
              <div class="content-slider">
                <section>
                  <blockquote class="quote-1">
                    <p class="p3"> Be like water making its way through cracks. Do not be assertive, but adjust to the object, and you shall find a way around or through it. If nothing within you stays rigid, outward things will disclose themselves. Empty your mind, be formless. Shapeless, like water. If you put water into a cup, it becomes the cup. You put water into a bottle and it becomes the bottle. You put it in a teapot, it becomes the teapot. Now, water can flow or it can crash. Be water, my friend. </p>
                    <a href="https://www.youtube.com/watch?v=cJMwBwFj5nQ">Bruce Lee</a> </blockquote>
                </section>
                <section>
                  <blockquote class="quote-1">
                    <p class="p3"> Freediving is not just a sport, it is a way of life. It is a connection with nature and a celebration of the beauty of the underwater world. </p>
                    <a href="https://en.wikipedia.org/wiki/Natalia_Molchanova">Natalia Molchanova</a> </blockquote>
                </section>
              </div>
              <a class="cs-prev"></a> <a class="cs-next"></a>
            </div>
            <div class="col-4">
              <h3 class="hp-1">Equipment</h3>
              <div class="wrapper">
                <div class="col-1">
                  <figure class="img-box"> <img src="{% static 'images/page2-img2.jpg' %}" alt=""> </figure>
                  <h5>Goggles</h5>
                  <p> Evolve FREEQ Goggles or Hektometer 2.0 </p>
                </div>
                <div class="col-2">
                  <figure class="img-box"> <img src="{% static 'images/page2-img3.jpg' %}" alt=""> </figure>
                  <h5>Noseclip</h5>
                  <p> Aluminum noseclip Octopus </p>
                </div>
                <div class="col-3">
                  <figure class="img-box"> <img src="{% static 'images/page2-img4.jpg' %}" alt=""> </figure>
                  <h5>Fins</h5>
                  <p> Carbon fiber fin MANTRA CWT COMPETITION </p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>

  {% endblock %}