{% extends "master.html" %}

{% block title %}
  CNF
{% endblock %}


{% block content %}
    <!-- Content -->
    <section id="content">
      <div class="container_12">
        <article class="a1">
          <div class="wrapper">
            <figure class="img-box img-indent-1"> <img src="images/CNF.jpg" alt=""> </figure>
            <div class="extra-wrap">
              <h3> CNF - Constant weight without fins </h3>
              <p class="p2"> Freediving discipline in which the freediver descends and ascends by swimming without the use of fins or without pulling on the rope or changing his or her ballast; only a single hold of the rope to stop the descent and to start the ascent is allowed.</p>
              <p class="p1"> Source: <a href="https://en.wikipedia.org/wiki/Constant_weight_without_fins">Wikipedia</a> </p>
              
            </div>
          </div>
        </article>
        
      </div>
    </section>
     {% endblock %}