{% extends "master.html" %}

{% block title %}
  Contacts
{% endblock %}


{% block content %}
    <!-- Content -->
   {% load static %}
    <section id="content">
      <div class="container_12">
        <article class="a2">
          <div class="wrapper">
            <div class="col-11">
              <h3>Postal address</h3>
              <div class="map_container">
                <img src="{% static 'images/fu.jpg' %}" alt="">
              </div>
              <div class="address">
                <div class="dt"> No adress :-) </div>
                <div class="extra-wrap">
                  <div class="dd">Telephone: +420 no way</div>
                  <div class="dd">E-mail: <a href="#">jan.f.borsky@google.com</a></div>
                  <br>
                </div>
              </div>
            </div>
           
          </div>
        </article>
      </div>
    </section>
  {% endblock %}