{% extends "master.html" %}

{% block title %}
  CTWB
{% endblock %}


{% block content %}
    <!-- Content -->
 {% load static %}
    <section id="content">
      <div class="container_12">
        <article class="a1">
          <div class="wrapper">
            <figure class="img-box img-indent-1"> <img src="{% static 'images/CTWB.jpg' %}" alt=""> </figure>
            <div class="extra-wrap">
              <h3> CTWB - Constant weight bi-fins </h3>
              <p class="p2"> Freediving discipline wherein the freediver wears a pair of bi-fins to descend along the line with or without the use of their arms. Pulling on the rope or changing ballast will result in disqualification; only a single hold of the rope is allowed in order to turn and stop the descent and start the ascent. The diver is prohibited from using a dolphin kick; doing so will result in disqualification of the day's dive. </p>
              <p class="p1"> Source: <a href="https://en.wikipedia.org/wiki/Constant_weight_bi-fins">Wikipedia</a> </p>
              
            </div>
          </div>
        </article>
        
      </div>
    </section>
    {% endblock %}