{% extends "master.html" %}

{% block title %}
  DNF
{% endblock %}


{% block content %}
    <!-- Content -->
 {% load static %}
    <section id="content">
      <div class="container_12">
        <article class="a1">
          <div class="wrapper">
            <figure class="img-box img-indent-1"> <img src="{% static 'images/dnf.jpg' %}" alt=""> </figure>
            <div class="extra-wrap">
              <h3> DNF - Dynamic without fins </h3>
              <p class="p2"> Discipline require breath held dives where the diver travels <B>without fins</B> in a horizontal position under water under their own power without aid/physical contact of a static surface, with the exception of the pool wall when done indoors. The records can only be recognized in pools of 25m or greater. </p>
              <p class="p1"> Source: <a href="https://en.wikipedia.org/wiki/Dynamic_apnea">Wikipedia</a> </p>
              
            </div>
          </div>
        </article>
        
      </div>
    </section>
   {% endblock %}