{% extends "master.html" %}

{% block title %}
  GDPR
{% endblock %}


{% block content %}
    <!-- Content -->
{% load static %}
    <section id="content">
      <div class="container_12">
        <article class="a1">
          <div class="wrapper">
            <figure class="img-box img-indent-1"> <img src="{% static 'images/no-privacy.png' %}" alt=""> </figure>
            <div class="extra-wrap">
                <BR><BR><BR>
              <h3> You are on internet - there is no privacy and personal data. Anyone who says otherwise is lying! </h3>

            </div>
          </div>
        </article>
        
      </div>
    </section>
     {% endblock %}