{% extends "master.html" %}

{% block title %}
  Freediving
{% endblock %}


{% block content %}

<!-- Content -->
    <section id="content">
      <div class="container_12">
        <article class="a1">
          <div class="wrapper"> <img src="images/page1-img1.jpg" alt="" class="img-indent">
            <div class="extra-wrap">
              <h3> <span class="welcome">Welcome</span> TO SMALL PAGE ABOUT FREEDIVING </h3>
              <p class="p1"> On this page you will find basic informations about freediving disciplines and mine and my buddies personal bests :)<BR><BR><BR> </p>
            </div>
          </div>
        </article>
      </div>
    </section>

{% endblock %}