{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'js/superfish.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/tms-0.4.1.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/jquery.cycle.all.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.8.17.custom.min.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ie.css' %}">
    <![endif]-->
</head>
<body>
<div class="main-indents">
  <div class="main">
    <!-- Header -->
    <header>
      <h1 class="logo"><a href="{% url 'home' %}">DivingClub</a></h1>
      <nav>
        <ul class="sf-menu">
          <li><a href="{% url 'about' %}">About</a></li>
          <li> <a href="#">Disciplines</a>
            <ul>
              <li><a href="#">Dynamic</a>
                <ul>
                  <li><a href="{% url 'dnf' %}">DNF</a></li>
                  <li><a href="{% url 'dyn' %}">DYN</a></li>
                  <li><a href="{% url 'dynb' %}">DYNB</a></li>
                </ul>
              </li>
              <li><a href="#">Deep</a>
                <ul>
                  <li><a href="{% url 'fim' %}">FIM</a></li>
                  <li><a href="{% url 'ctw' %}">CTW</a></li>
                  <li><a href="{% url 'ctwb' %}">CTWB</a></li>
                  <li><a href="{% url 'cnf' %}">CNF</a></li>
                </ul>
              </li>
              <li><a href="{% url 'sta' %}">Static Apnea</a></li>
            </ul>
          </li>
          <li><a href="#">Members Section</a>
            <ul>
              <li><a href="{% url 'pbs' %}">Personal bests</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'add_diving_record' %}">New Diving Record</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
          </li>
          <li><a href="{% url 'contacts' %}">Contacts</a></li>
        </ul>
      </nav>
      <div class="clear"></div>
    </header>
    <!-- Slider -->
    <div class="mp-slider">
      <ul class="items">
        <li><img src="{% static 'images/slide-1.jpg' %}" alt="">
          <div class="banner"><span class="row-1"><b>See</b> the Underwater World</span><span class="row-2">With Your Own <b>Eyes</b></span></div>
        </li>
        <li><img src="{% static 'images/slide-2.jpg' %}" alt="">
          <div class="banner"><span class="row-1"><b>All</b> the Beauty</span><span class="row-2">of the Deep <b>Sea</b></span></div>
        </li>
        <li><img src="{% static 'images/slide-3.jpg' %}" alt="">
          <div class="banner"><span class="row-1"><b>Find</b> the peace</span><span class="row-2">in the water <b>World</b></span></div>
        </li>
      </ul>
      <a href="#" class="mp-prev"></a> <a href="#" class="mp-next"></a>
    </div>